.parent-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    flex: 1;
    gap: 10px;
    height: calc(100vh - 200px);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 10px;
}

.title-container {
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem 1rem 1rem 1rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.user-list-container {
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    font-size: medium;
    font-weight: 700;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-list-container ol {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.user-list-container ol li {
    cursor: pointer;
}

.input-items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
}

.button-container button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #319f5e;
    text-transform: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #319f5e;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

.file-input:focus + .file-label,
.file-input:valid + .file-label {
    background-color: #00be4c;
}

.input-wrapper,
.label-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-wrapper input {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #d7d7d7;
    transition: border-color 0.4s ease;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
}

.label-wrapper label {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1rem;
    padding: 1rem;
}
