.user-details-container {
    height: 100%;
}

.user-details-container .user-details-title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    margin: 0;
}

.user-details-container .user-details-wrapper {
    margin: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-direction: column;
    gap: 1rem;
}

.user-details-wrapper .user-profile-image {
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    border-radius: 1rem;
    object-fit: cover;
}

.user-details-wrapper .user-full-name,
.user-email,
.user-name {
    font-family: Arial, Helvetica, sans-serif;
}

.user-details-wrapper .upload-btn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #319f5e;
    text-transform: none;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    border: none;
    cursor: pointer;
}

.user-details-wrapper .error {
    margin-top: 0.25rem;
    color: red;
    font-size: 14px;
}

.user-details-wrapper .success {
    color: green;
    font-size: 14px;
    margin-top: 0.25rem;
}

.user-details-wrapper .warning {
    color: orange;
    font-size: 14px;
    margin-top: 0.25rem;
}